@model IEnumerable<crud_mvc.Models.Person>

@{
    ViewData["Title"] = "List of humans";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<style>
    .table tbody tr {
        background-color: #f5f5dc; 
    }

    .table th, .table td {
        border: 1px solid #ddd; 
        padding: 8px;
    }

    .table {
        width: 100%;
        border-collapse: collapse; 
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Fav language</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
        <tr>
            <td>@person.Name</td>
            <td>@person.Email</td>
            <td>@person.PhoneNumber</td>
            <td>gaya test</td>
            <td>
                <a asp-action="Edit" asp-route-id="@person.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@person.Id"
                   onclick="return confirm('Are you sure you want to delete @person.Name? :c');">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>